.proyecto1 {
  background-image: url(proyectos-images/Ductosbanner.png);
  background-repeat: no-repeat ;
  
       p{
          margin: 0;
          color: black;
          font-weight: 600;
        }
}

.cardpanelposition{
 margin-top: 330px;
}

