.proyecto4 {
    background-image: url(proyectos-images/lineaselectricas.png);
    background-repeat: no-repeat ;
    
         p{
            margin: 0;
            color: black;
            font-weight: 600;
          }
  }